/* define o estilo para o contêiner principal*/
.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    margin: 2rem auto;
    background-color: #b8caf2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* define o estilo para o título*/
.converter h2 {
    color: #050506;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* define o estilo para os campos de entrada e seleção*/
.converter input,
.converter select {
    width: 100%;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
    color: #0b0d0e;
    background-color: #ffffff;
    border: 1px solid #0054a8;
}

/* define um estilo adicional para o campo de entrada*/
.converter input {
    margin-bottom: 30px;
    background-color: #ffffff;

}

 
/* define o estilo para os elementos span e p*/
.converter span,
.converter p {
    margin: 0.5rem;
    font-size: 1rem;
    color: #0a0b0d;
}

/* define um estilo adicional para o elemento p*/
.converter p {
    font-size: 1.2rem;
}